
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
}


/* ================================= 
  Header 
==================================== */


.header-container,
.member-image {
    display: flex;
    align-items: center;
}

.header-container {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: white;
    background-color: #7578BF;
    padding: 0 15px;
    height: 100%;
}

h1 {
    margin: 0 auto 0 0;
}

.member-image {
    margin: 15px;
    border-left: 1px solid #ccc;
    margin-left: 15px;
    padding-left: 15px;
}

.profile-image {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.bell-icon {
    height: 30px;
}

/* ================================= 
  Alert
==================================== */

.alert {
    display: flex;
    justify-content: space-between;
    background-color: #7379bd;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 1em 1em 0;
    padding: 0.5em;
    position: relative;
    text-align: left;
}


/* ================================= 
  Nav
==================================== */

.navigation-container {
    display: flex;
    justify-content: center;
    background-color: #4D4F73;
    align-items: top;
    height: 100%;
} 

.icons {
    margin-right: 42px;
}

ul li {
    display: inline-block;
    width: 50px;
    border-radius: 20%;
    margin: 5px 5px;
    padding: 5px 5px;
    padding-top: 20px;
    margin: 0;
}


/* ================================= 
  Dashboard
==================================== */


.main-header {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.headline {
    margin-left: 20px;
}



.main-header-search {
    background-color: #eee;
    border: 1px solid #ccc;
    margin: 1em 0;
    padding: 1em;
    width: 85%;
    margin-left: 20px;
}

.form-field1 {
    float: right;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
    margin: 1em 0;
    padding: 1em;
    width: 70%;
}


/* ================================= 
  Traffic
==================================== */

.traffic {
    display: inline-block;
    line-height: 1em;
    margin-right: 20px;
}


/* ul li {
    margin-right: 20px;
    font-weight: bold;
    float: right;
} */

.trafficlinegraphheader {
    display: inline-block;
    margin-left: 20px;
}

.traffic {
    border-bottom: 1px solid #ccc;
}

/* ================================= 
  Daily traffic
==================================== */


.dailytrafficheader {
    margin-left: 20px;
}

.daily {
    border-right: 1px solid #ccc;
}

/* ================================= 
  Mobile Users
==================================== */

.mobileheader {
    margin-left: 20px;
}

.mobile {
    border-: 1px solid #ccc;
}


/* ================================= 
  Social stats
==================================== */

.social {
    border-top: 1px solid #ccc;
}

.socialheader {
    margin-left: 20px;
}

.socialcontainers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #ccc;
}

.social-image {
    background-color: #fbfbfb;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 20px 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 2em;
    width: 400px;
}

.birdgraphic {
    height: 10px;
}

.social svg {
    background-color: #4d4d71;
    border-radius: 200%;
    display: inline-block;
    fill: white;
    float: left;
    height: 50px;
    margin-right: 20px;  
    margin-bottom: 50px;
    vertical-align: text-top;
    width: 50px;    
}

.social__heading {
    color: #7379bd;
    display: block;
    font-size: 125%;
    font-weight: bold;
    margin: 0;
}

.social__stats {
    color: #7b7b7b;
    font-size: 300%;
    font-weight: 300;
    line-height: 1px;
    margin-bottom: 10px;
}

/* ================================= 
  New members
==================================== */

.nmheader {
    color: black;
    display: block;
    font-size: 125%;
    font-weight: bold;
    margin: 0;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.members {
    display: block;
    margin-left: 20px;
    border-right: 1px solid #ccc;
}

.members-container {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-right: 20px;
}

.members-container:last-child {
    border-bottom: 0;
}

.date {
    float: right;
    margin-right: 10px;
}

.members-text {
    margin-bottom: 40px;
}

.profile-image {
    display: inline-block;
    fill: white;
    float: left;
    height: 50px;
    margin-right: 20px;  
    margin-bottom: 50px;
    vertical-align: text-top;
    width: 50px;   
}

a {
    text-decoration: none;
    color: #7578BF;
}

p.date {
    line-height: 1px;
}


/* ================================= 
  Recent activity
==================================== */

.activity {
    margin-left: 20px;
}

/* ================================= 
  Message user
==================================== */


.mobileheader {
    margin-left: 20px;
}

.form-field,
.form-area {
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
    margin: 1em 0;
    padding: 1em;
    width: 90%;
}

.form-area {
    height: 150px;
}

.message {
    margin-left: 20px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.button-user {
    background-color: #7379bd;
    border-radius: 5px;
    border: 0;
    color: #fff;
    margin: 0;
    padding: 1em 2em;
    text-transform: uppercase;
    width: 90%;
}

/* ================================= 
  Settings
==================================== */

.settings {
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
}

.form-field2 {
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
    margin: 1em 0;
    padding: 1em;
    width: 90%;
}

.settings-header,
.form-field2,
.settings-button {
    margin-left: 20px;
}

.button-settings,
.button-disabled {
    width: 46%;
}

.button-settings {
    background-color: #7379bd;
    border-radius: 5px;
    border: 0;
    color: #fff;
    margin: 0;
    padding: 1em 2em;
    text-transform: uppercase;
}

.button-disabled {
    background-color: #b2b2b2;
    border-radius: 5px;
    border: 0;
    color: #fff;
    margin: 0;
    padding: 1em 2em;
    text-transform: uppercase;
}

/* ================================= 
  Grid-container 
==================================== */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main";
}

header {
    grid-area: header;
    background: maroon;
}

nav {
    grid-area: nav;
    background: blue;
}

main {
    grid-area: main;
    /* background: green; */
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
    }

    .socialcontainers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }



}

main {
    display: grid;
}

@media (min-width: 768px) {
    main {
        grid-template-columns: 50% ;
    }
}

@media (min-width: 768px) {
    .traffic, .main-header, .alert, .social {
        grid-column: 1 / span 2;
    }
}

@media (min-width: 768px) {
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
}

@media (min-width: 768px) {
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
}

.widget-container-full, .widget-container-half {
        width: 95vw;
}

@media (min-width: 768px) {
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
}